<div class="animated fadeIn row">

        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <a href="/#/components-details">Rfid leser 01</a>
                    <span class="badge badge-success float-right">Online</span>
                </div>
                <div class="card-block row">
                        <div class = "col-md-6">
                            <div class="project-label"><strong>Address</strong></div>
                            <span>60:01:94:07:87:E2</span>
                            <div class="project-label"><strong>Description</strong></div>
                            <span>RFID Leserboks</span>
                        </div>
                        <div class = "col-md-6">
                            <div class="project-label"><strong>Lastest Data</strong></div>
                            <span>
                                Data from the Component as json, the last data record 
                            </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    Rfid leser 02
                    <span class="badge badge-warning float-right">Offline</span>
                </div>
                <div class="card-block row">
                        <div class = "col-md-6">
                            <div class="project-label"><strong>Address</strong></div>
                            <span>60:01:94:07:87:E2</span>
                            <div class="project-label"><strong>Description</strong></div>
                            <span>RFID Leserboks</span>
                        </div>
                        <div class = "col-md-6">
                            <div class="project-label"><strong>Lastest Data</strong></div>
                            <span>
                                Data from the Component as json, the last data record 
                            </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    Vektboks Sandeid
                    <span class="badge badge-success float-right">Offline</span>
                </div>
                <div class="card-block row">
                        <div class = "col-md-6">
                            <div class="project-label"><strong>Address</strong></div>
                            <span>60:01:94:07:87:E2</span>
                            <div class="project-label"><strong>Description</strong></div>
                            <span>RFID Leserboks</span>
                        </div>
                        <div class = "col-md-6">
                            <div class="project-label"><strong>Lastest Data</strong></div>
                            <span>
                                Data from the Component as json, the last data record 
                            </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    Vektboks Olen
                    <span class="badge badge-success float-right">Online</span>
                </div>
                <div class="card-block row">
                        <div class = "col-md-6">
                            <div class="project-label"><strong>Address</strong></div>
                            <span>60:01:94:07:87:E2</span>
                            <div class="project-label"><strong>Description</strong></div>
                            <span>RFID Leserboks</span>
                        </div>
                        <div class = "col-md-6">
                            <div class="project-label"><strong>Lastest Data</strong></div>
                            <span>
                                Data from the Component as json, the last data record 
                            </span>
                    </div>
                </div>
            </div>
        </div>

</div>
